<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>账单管理系统</title>
    <link rel="stylesheet" href="../css/public.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<!--头部-->
<header th:replace="main/public :: #publicHeader"></header>
<!--时间-->
<section th:replace="main/public :: #publicTime"></section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #publicMianLeft(nav='users')"></div>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>用户管理页面 >> 用户信息查看页面</span>
        </div>
        <div class="providerView">
            <p><strong>用户名：</strong><span>[[${user.username}]]</span></p>
            <p><strong>真实姓名：</strong><span>[[${user.realName}]]</span></p>
            <p><strong>用户性别：</strong><span>[[${user.username}]]</span></p>
            <p><strong>出生日期：</strong><span>[[${user.birthday}]]</span></p>
            <p><strong>用户类别：</strong><span>[[${user.userType==1? '管理员' : (user.userType==2? '经理' : '普通用户')}]]</span></p>
            <a onclick="history.back(-1)" href="#">返回</a>
        </div>
    </div>
</section>
<footer class="footer" th:replace="main/public :: #footer"></footer>
<script src="../js/jquery.js"></script>

</body>
</html>